
<%- include('../../includes/head',{pageTitle:'none' }) %>
    <link rel="stylesheet" href="/styles/prudoct.css">
<script src="/scripts/cart-management.js" defer></script>
    </head>

    <body>


        <%- include('../../includes/header') %>
            <main id="product-details">
                <header>
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    <div id="product-info">
                        <h1><%= product.title %></h1>
                        <p><%= product.price %></p>
                        <button class="btn " data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">add to card</button>
                    </div>
                </header>
                <p id="product-description"><%= product.description %></p>

            </main>

            <%- include('../../includes/footer') %>